body{ font-family: Arial,  sans-serif;
background-color: beige;}
h1{
    color: rgb(135, 135,135);
    display: block;
    font-size: 24px;
    font-weight: 100;
    line-height: 28.8px;
    text-align: left;
}

li {
    list-style: none;
    color: rgba(65, 0, 0, 0.884);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;

}